services:
  qdrant01:
    build: .
    ports:
      - "6333:6333"
    environment:
      - QDRANT__CLUSTER__ENABLED=true
      - QDRANT__CLUSTER__NODE_NAME=qdrant01
      - QDRANT__LOG_LEVEL=INFO
    volumes:
      - qdrant_data01:/qdrant/storage
    # port=6335 is used for cluster communication between nodes
    command: "./qdrant --uri http://qdrant01:6335"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/healthz"]
      interval: 10s
      timeout: 5s
      retries: 5

  qdrant02:
    build: .
    environment:
      - QDRANT__CLUSTER__ENABLED=true
      - QDRANT__CLUSTER__NODE_NAME=qdrant02
      - QDRANT__LOG_LEVEL=INFO
    volumes:
      - qdrant_data02:/qdrant/storage
    command: "./qdrant --bootstrap http://qdrant01:6335 --uri http://qdrant02:6335"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:6333/healthz"]
      interval: 10s
      timeout: 5s
      retries: 5

  prometheus:
    image: prom/prometheus
    volumes:
      - ./configs/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    
    # depend on with health of qdrant01 and qdrant02
    depends_on:
      qdrant01:
        condition: service_healthy
      qdrant02:
        condition: service_healthy

volumes:
  qdrant_data01:
  qdrant_data02: